@import url ('https://fonts.googleapis.com/css2?family=Poppins :wght@200;300;400;500;600;700;800;900&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans=serif;
}
.contact {
position : relative;
min-height : 100vh;
padding : 50px 100px;
display : flex;
justify-content : center;
align-items : center;
flex-direction : column;
background : url(bricks.jpg);
background-size : cover;
}
.contact .content {
max-width : 800px;
text-align : center;
}
.contact .content h2 {
font-size : 36px;
font-weight : 500;
color : black;
}
.form {
background-color : #72b5b5;
opacity : 50%;
position : relative;
top : 300px;
left : 150px;
right : 500px;
height : 500px;
width : 1000px;
border-color : black;
border-style : solid;
border-radius : 0;
}
body {
height : 1000px;
width : 1330px;
background-image : url("crescent.jpg");
background-size : cover;
background-position : center;
opacity : 100%;
border-color : black;
border-style : solid;
border-radius : 0;
}
#links{
	
	width: 83%;
	height: 20%;
	background-color: rgb(15, 4, 68);
	opacity: 50%;
	position: relative;
	top: 0px;
	left: 206px;
	padding: 3px 10px;
}


#links ul{
 text-align: center;
}

#links ul li{
 list-style: none;
 display: inline-block;
}

#links ul li a{
display: block;
text-decoration: none;
text-transform: uppercase;
color: #fff;
font-size: 20px;
font-family: 'Raleway', sans-serif;
letter-spacing: 2px;
font-weight: 600;
padding: 142px 35px 40px 15px;
margin: 0px 70px 10px 20px;
 transition: all cubic-bezier(.33,-0.66,.27,1.35) 0.9s;
}

#links ul li a:hover{
background-color:white;
color: black;
padding: 25px;
height: 20px;
transition: all cubic-bezier(.33,-0.66,.27,1.35) 0.9s;

}
